views<!DOCTYPE html>
<html>
  <head>
      <title>Dot Game</title>
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/style.css">
      <script async src="/index.js"></script>
  </head>
  <body>
    <div class="dot-game-header-container">
      <div class="dot-game-score"><p>0</p></div>
      <div class="dot-game-slider-container">
        <input type="range" min="1" max="10" value="5" class="dot-game-slider">
      </div>
      <div class="dot-game-slider-speed">
        <p class="dot-game-speed-text">Speed Slider</p>
        <p class="dot-game-speed-multiplier">x5</p>
      </div>
    </div>
  </body>
</html>